.regulation-check-component-wrapper {
    width: 40%;
    height: 20%;
    margin: 0 auto 9% auto;
    line-height: 1em;

    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: black;
    padding: 1%;
  }

  .checkEvent-wrapper{
    display: inline-block;
    display: block;
    margin-top: 2em;
    margin-bottom: 0.6em;
  }
  
  .button-checkEvent {
    color: white;
    background-color: lightslategray;;
  }